$fontColor: #6f3f2d;

.imageContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  max-width: 1000px;
  > * {
    margin-top: 0px;
    
    &:nth-child(2n) {
      margin-top: 50px;
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.socialWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.socialWrapper a{
  color: $fontColor;
}

.wrapper {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 150px 50px 50px 50px;
  @media (max-width: 900px){
    padding-top: 20px;
    margin-bottom: 100px;
  }
}

.contentCard {
  background-color: rgb(251, 238, 232);
  border: 3px solid rgb(111, 63, 45);
  border-radius: 10px;
  padding: 20px 40px;
  color: rgb(111, 63, 45);
  text-align: justify;
  max-width: 1000px;
  font-size: 20px;
  @media (max-width: 900px){
    font-size: 16px;
  }
  @media (max-width: 480px){
    font-size: 14px;
  }
}
