html {
  background: #f9d0c1;
  width: auto;
  height: auto;
  color: #6f3f2d;
}

body {
  background: #f9d0c1;
  /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);*/
  color: #6f3f2d;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 100%;
  overflow:hidden;
}
.main{
  display: flex;
  justify-content: center;
  width: 100vp;
  height: 100vh;
}

header{
  overflow: hidden;
  height: 10vh;
  background-color: #ffffff8e;
  position: absolute;
  width:100vw;
}
header img{
  float: left;
  height: 100%;
}
.header-right {
  float: right;
  margin-right: 4vw;
}

header li {
  float: left;
  padding: 1vh;
  padding-right: 4vw;
  list-style-type: none;
  font-size: 3vh;
}
header li a{
  text-decoration: none;
  color: #6f3f2d;
}
header li a:hover{
  color: #2c1911;
  text-shadow: 2px 2px 4px #6f3f2d;
}

.left{
  width: 35%;
  height: 90%;
  display:inline-flex;
  font-size: 150%;
  flex-direction: column;
}

.login{
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1 {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  border-width: 0;
  color: #6f3f2d;
  cursor: pointer;
  display: inline-block;
  font-size: 200%;
  padding: 10px 12px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button1:hover{
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section{
  width: 90%;
  height: 40%;
  object-position: center;
  margin: 10%;
  margin-top: 50vh;
}

.right{
  width: 65%;
  height: 100%;
  display:inline-flex;
  align-items: center;
  justify-content:center;
}


.foto1_container{
  background-image: url("/images/main.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  align-self: center;
  /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.1)*/
}

