$firstColor: #f9d0c1;
$fontColor: #6f3f2d;
$whiteColor: #ffffff8e;
$darkColor: #2c1911;
$shadowColor: rgba(0, 0, 0, 0.2);


body {
    background: $firstColor;
    background-image: url(images/background.jpg);
    background-size: cover;
    color: $fontColor;
    font-family: "Lato";
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 100%;
    z-index: -1;
}


.main{
    display: flex;
    width: 100vp;
    height: 100vh;
    background: $firstColor;
}

.center{
    width: 100%;
    height: 100%;
    display:inline-flex;
    font-size: 150%;
    flex-direction: column;
    
}

.section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box{
    width: 30%;
    height: auto;
    background-color: $whiteColor;  
    border-width: 0;
    color: $darkColor;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
}


#odn{
    font-size: 3vh;

}

@media (max-width: 768px) {
  .box {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .box {
    width: 90%;
  }
}
